.container {
    width: min(100%, 1440px);
    margin: auto;
}

.header {
    /* background-color: aquamarine; */
    padding: 52px 98px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    display: flex;
    column-gap: 50px;
    font-size: 24px;

}

.active {
    color: #27187F;
    ;
}

.no_active {
    color: #758BFD;

}

.section {
    width: 1440px;
    height: 1051px;
    top: 160px;
    padding: 94px 98px 135px 98px;
    gap: 0px;
    opacity: 0px;
    background-color: #DDEAF8;
}

.section_title {
    font-family: Ubuntu;
    font-size: 32px;
    font-weight: 700;
    line-height: 36.77px;
    text-align: left;
    color: #27187F;
}

.section_article {

    display: flex;
    flex-wrap: wrap;

}

footer {
    width: 1440px;
    height: 239px;
    top: 1212px;
    gap: 0px;
    opacity: 0px;
    background-color: #758BFD;
    padding: 75px 1228px 105px 98px;
    justify-content: space-between;


}

.footer_tittle {
    font-size: 20px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;
    color: #FFFFFF;
    padding: 10px;
}

.linkdin {
    padding: 10px;
}
.footer_div {
    display: flex;
    justify-content: space-between;
    column-gap: 50px;
    align-items: center;
}